body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 49px;

}
p {
    font-size: 19px;
}
button {
    padding: 11px 21px;
    margin: 6px;
    font-size: 15px;
    cursor: pointer;
}